<h1>Here are your tasks...</h1>
<% @tasks.each do |task| %>
  <div>
  <%= link_to task.name, task_path(task) %>
  <p><%= task.completed %></p>
  <%= link_to "edit", edit_task_path(task) %>
  <%= link_to "delete", task_path(task), method: :delete %>
  </div>
<% end %>

<%= link_to "Add a task", new_task_path %>
